<!DOCTYPE html>
<html>
<head>
  <title>Simple To DOs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
</head>
<body class="grey lighten-5">
  <div class="container">
    <div class="todos">
      <%= yield %>
    </div>
  </div>
</body>
</html>
