<!DOCTYPE html>
<html>
<head>
  <title>Simple To DOs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="grey lighten-5">
  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>


  <script type="text/javascript">
    $(document).ready(function() {
      on_form_submit();
    });
  </script>
</body>
</html>
